{
    "tts": {
        "voice": "Loic"
    },
    "freebox": {
        "code": ""
    },
    "t411": {
        "username": "",
        "password": ""
    },
    "mail": {
        "address": "",
        "password": ""
    },
    "voice_recognition": {
        "key": "",
        "lang": ""
    }
}
